<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/comments.css">
    <!-- agregando bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <div class="fondo-oscuro">
        <div class="contenedor-central">
            <!-- parte donde se ve la img del post -->
            <section class="lado-post">
                <img src="https://res.cloudinary.com/dhotqeo6c/image/upload/v1752460667/Dise%C3%B1o_sin_t%C3%ADtulo_nwvskc.png"
                    alt="Post visual" class="img-post">
            </section>
            <!-- parte donde se ve la info del post y los comentarios -->
            <section class="lado-info">
                <!-- primer contenedor: usuario fijo -->
                <div class="user">
                    <img src="https://res.cloudinary.com/dhotqeo6c/image/upload/v1752460667/Dise%C3%B1o_sin_t%C3%ADtulo_nwvskc.png"
                        alt="Avatar usuario" class="avatar">
                    <div class="info-usuario">
                        <span class="nombre">User</span>
                        <span class="username">@Username</span>
                    </div>
                </div>
                <!-- segundo contenedor: comentarios -->
                <div class="contenedor-comentarios">
                    <div class="Contenedor-comment">
                        <p>
                            <strong>User: </strong>
                            DIs it just me, or is his face a little blurry? (Jkjk that’s too cliche haha (*꒦ິ³꒦ີ))
                            <br>
                            Side note: Kim Dokja would really have to sell in order to lose to Yoo Joonghyuk’s tone deaf
                            ahhh in an alien stage lol
                            <br> <br>
                            #orv #omniscientreadersviewpoint #alnst #ibispaintart #ibispaintxdrawing #kimdokja
                            #yoojoonghyuk
                        </p>
                        <div class="comentarios">
                            <p><strong>Username:</strong> Este es un comentario de prueba.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laborum architecto voluptatem dolor nemo? Voluptas exercitationem itaque consequatur repellendus odio architecto nostrum dignissimos illum delectus eveniet, suscipit totam vero laboriosam?</p>
                            <!-- mas comentarios de la base-->
                        </div>
                    </div>
                </div>

                <!-- tercer contenedor: iconos y campo de comentario -->
                <div class="acciones">
                    <div class="iconos-interaccion">
                        <i class="fa-regular fa-heart icono"></i>
                        <i class="fa-regular fa-comment icono"></i>
                    </div>
                    <div class="campo-comentario">
                        <input type="text" placeholder="Añade un comentario...">
                        <button class="btn-publicar">Publicar</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>

</html>