<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>Pagina Principal</title>
  </head>
  <body>
    <!--Encabezado-->
    <header>Linkup</header>
    <!--Cuerpo principal de la ventana-->
    <div>
      <!--Navbar-->
      <nav>
        <button>
          <i class="fa-solid fa-house"></i>
          Inicio
        </button>
        <button>
          <i class="fa-solid fa-plus"></i>
          Crear
        </button>
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
          Buscar
        </button>
        <button>
          <i class="fa-solid fa-circle-user"></i>
          Mi Perfil
        </button>
      </nav>
      <main>
        <!--Publicación-->
        <article>
          <section>
            <img src="" alt="" />
            <button>
              <img />
              <span>
                <span>User</span>
                <span>@user</span>
              </span>
            </button>
            <div>
              <button>
                <i class="fa-regular fa-heart"></i>
                <span>Cantidad</span>
              </button>
              <button>
                <i class="fa-regular fa-comment"></i>
                <span>Cantidad</span>
              </button>
            </div>
          </section>
          <section>
            <p><strong>@user</strong> This is a Description</p>
          </section>
        </article>
      </main>
      <aside>
        <section>
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Buscar amigo" />
        </section>
        <section>
          <article>
            <img src="" alt="" />
            <div>
              <img src="" alt="" />
              <div>
                <h4>Name</h4>
                <h5>@Username</h5>
              </div>
            </div>
          </article>
        </section>
      </aside>
    </div>
  </body>
</html>
