<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <link rel="stylesheet" href="../styles/homepage.css" />
    <title>Pagina Principal</title>
  </head>
  <body>
    <!--Encabezado-->
    <header>LinkUp</header>
    <!--Cuerpo principal de la ventana-->
    <div class="principal-container">
      <!--Navbar-->
      <nav class="navbar">
        <a href="./homepage.html">
          <i class="fa-solid fa-house"></i>
          <span class="text-button">Inicio</span>
        </a>
        <a href="./create.html">
          <i class="fa-solid fa-plus"></i>
          <span class="text-button">Crear</span>
        </a>
        <a href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="text-button">Buscar</span>
        </a>
        <a href="./myProfile.html">
          <i class="fa-solid fa-circle-user"></i>
          <span class="text-button">Mi Perfil</span>
        </a>
      </nav>
      <main id="publicaciones">
        <!--Publicación-->
      </main>
      <aside class="side-menu">
        <section class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Buscar amigo" />
        </section>
        <section class="friends" id="friends-container"></section>
      </aside>
    </div>
  </body>
  <!-- <script src="../scripts/login.js" type="module"></script> -->
  <script src="../scripts/homepage.js" type="module"></script>
  <script src="../scripts/asideFriends.js" type="module"></script>
</html>
