<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Vista Perfil</title>
    <link rel="stylesheet" href="../styles/personalProfileStyles.css" />
  </head>
  <body>
    <header></header>
    <section>
      <div class="espacioimg">
        <img src="usuario.jpg" alt="Foto de usuario" class="imagen" />
        <div class="info">
          <h2 class="nombre">Andre Mejia</h2>
          <p class="arroba">@and4000</p>
          <p class="descripcion">
            Apasionado por los autos, el jugo y los atardeceres en la playa.
          </p>
          <input type="button" class="btnagregar" />
          <input type="button" class="seguidores" />
        </div>
      </div>
    </section>
    <section>
      <img src="usuario.jpg" alt="Foto de usuario" class="imagenpq" />
      <div class="infopqq">
        <h2 class="nombrepq">Andre Mejia</h2>
        <p class="arrobapq">@and4000</p>
      </div>
      <img src="publicacion.jpg" alt="Publicacion" class="publi" />
      <div>
        <input type="button" class="corazon" />
        <h2 class="cora">0</h2>
        <input type="button" class="comentarios" />
        <h2 class="coment">0</h2>
        <input type="button" class="compartir" />
      </div>
      <div>
        <p class="arroba">@and4000</p>
        <p class="descripcion">
          Apasionado por los autos, el jugo y los atardeceres en la playa.
        </p>
      </div>
    </section>
    <footer>
      <div class="menu">
        <img src="casa.jpg" alt="casa" />
        <img src="lupa.jpg" alt="lupa" />
        <img src="add.jpg" alt="add" />
        <img src="perfil.jpg" alt="perfil" />
      </div>
    </footer>
  </body>
</html>
