<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <link rel="stylesheet" href="../styles/homepage.css" />
    <title>Pagina Principal</title>
  </head>
  <body>
    <!--Encabezado-->
    <header>LinkUp</header>
    <!--Cuerpo principal de la ventana-->
    <div class="principal-container">
      <!--Navbar-->
      <nav class="navbar">
        <a href="./homepage.html">
          <i class="fa-solid fa-house"></i>
          <span class="text-button">Inicio</span>
        </a>
        <a href="./create.html">
          <i class="fa-solid fa-plus"></i>
          <span class="text-button">Crear</span>
        </a>
        <a href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="text-button">Buscar</span>
        </a>
        <a href="./profile.html">
          <i class="fa-solid fa-circle-user"></i>
          <span class="text-button">Mi Perfil</span>
        </a>
      </nav>

      <main>
        <!--Publicación-->
        <!-- <article class="profile-container">
          <section class="photo">
            <picture>
              <img src="../images/yakuza.jpg" />
            </picture>
          </section>
          <section class="profile-data">
            <h2>Rodrigo Mejía</h2>
            <h3>@rodrigo.mejia</h3>
            <p>
              Bienvenido a mi perfil, espero que encuentres lo que estés
              buscando!
            </p>
            <button class="profile-button">
              <i class="fa-solid fa-user-group"></i>
              <span>128</span>
            </button>
          </section>
        </article> -->
        <!-- <article class="post-container">
          <section class="post">
            <img src="../images/yakuza.jpg" alt="girl" />
            <button class="profile">
              <picture>
                <img src="../images/yakuza.jpg" />
              </picture>
              <span class="user-text">
                <span>Just a Girl</span>
                <span>@im.just.a.girl</span>
              </span>
            </button>
            <div class="actions-post">
              <button class="button-post">
                <i class="fa-regular fa-heart"></i>
                <span>1,232</span>
              </button>
              <button class="button-post">
                <i class="fa-regular fa-comment"></i>
                <span>300</span>
              </button>
            </div>
            <div class="blur"></div>
          </section>
          <section class="description-post">
            <p>
              <strong>@im.just.a.girl</strong> Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Quibusdam, voluptatibus. Ipsam
              deserunt aspernatur consectetur omnis!
            </p>
          </section>
        </article>
        <article class="post-container">
          <section class="post">
            <img
              src="../images/paisaje-oriental-japones-de-videojuego_5120x2880_xtrafondos.com.jpg"
              alt="girl"
            />
            <button class="profile">
              <picture>
                <img src="../images/yakuza.jpg" />
              </picture>
              <span class="user-text">
                <span>Just a Girl</span>
                <span>@im.just.a.girl</span>
              </span>
            </button>
            <div class="actions-post">
              <button class="button-post">
                <i class="fa-regular fa-heart"></i>
                <span>1,232</span>
              </button>
              <button class="button-post">
                <i class="fa-regular fa-comment"></i>
                <span>300</span>
              </button>
            </div>
            <div class="blur"></div>
          </section>
          <section class="description-post">
            <p>
              <strong>@im.just.a.girl</strong> Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Quibusdam, voluptatibus. Ipsam
              deserunt aspernatur consectetur omnis!
            </p>
          </section>
        </article> -->
      </main>

      <aside class="side-menu">
        <section class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Buscar amigo" />
        </section>
        <section class="friends">
          <iframe src="./listaamigos.html" width="100%" height="100%"></iframe>

          <!-- <article>
            <img src="" alt="" />
            <div>
              <img src="" alt="" />
              <div>
                <h4>Name</h4>
                <h5>@Username</h5>
              </div>
            </div>
          </article> -->
        </section>
      </aside>
    </div>
  </body>
  <script src="../scripts/profile.js" type="module"></script>
</html>
