@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --principal-font: "Inter", sans-serif;
  --principal-background: #fd007a;
  --principal-gradient: linear-gradient(
    -45deg,
    rgba(253, 0, 122, 1) 25%,
    rgba(56, 0, 168, 1) 75%
  );
  --principal-font-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--principal-font);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100vw;
  height: 10vh;
  background: var(--principal-background);
  background: var(--principal-gradient);

  font-family: var(--principal-font);
  font-size: 2rem;
  font-weight: 600;
  color: var(--principal-font-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.principal-container {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;

  height: 90vh;
}

.navbar {
  /* border: 1px dashed black; */
  display: flex;
  flex-direction: column;

  a {
    padding: 0.75rem;

    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    i {
      font-size: 1.2rem;
    }
  }
}

.side-menu {
  /* border: 1px dashed black; */
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .search {
    margin: 0rem 1rem;
    background-color: #dadada;
    height: 2rem;

    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    gap: 1rem;

    input {
      background-color: transparent;
      border: none;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
    }
  }

  .friends {
    padding: 0.5rem 0.5rem;
    height: 90%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    /* iframe {
      border: none;
    } */
  }
}

main {
  padding: 1rem 2rem;
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  overflow-y: scroll;

  .post-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
  }
}

.post {
  /* border: 1px dashed red; */
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem 1rem 0rem 0rem;
  }
}

.card {
  /* border: 1px dashed red; */
  position: relative;
  border-radius: 1rem;
  border: 3px solid #fdf0ef;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
  }
}

.profile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: none;
  border: none;
  padding: 1rem;

  display: flex;
  gap: 0.5rem;

  picture {
    display: flex;
    width: 3rem;
    height: 3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .user-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    color: white;
  }
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
}

/* .blur {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;

  background-color: #fafafa10;
  backdrop-filter: blur(0.4rem);
  mask-image: linear-gradient(to bottom, transparent 0%, #fffefe 50%);
} */

.actions-post {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 4em;
  border-top-right-radius: 1.5rem;
  z-index: 10;

  background-color: white;
  display: flex;
  gap: 1.5rem;

  .button-post {
    background: none;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      font-size: 1.3rem;
    }
  }
}
.description-post {
  font-size: 0.8rem;

  strong {
    color: #504d4d;

    font-weight: normal;
  }
}

.profile-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 1rem;

  .photo {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  picture {
    display: flex;

    width: 90%;
    aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .profile-data {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5rem;

    h3 {
      font-weight: 200;
    }
    p {
      font-style: italic;
    }
  }
}

.profile-button {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  background: var(--principal-background);
  background: var(--principal-gradient);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  span,
  i {
    font-size: 1rem;
  }
}

@media (width < 992px) {
  .principal-container {
    grid-template-columns: 3fr 7fr;
  }

  .profile-container {
    grid-template-columns: 3fr 7fr;
  }

  .side-menu {
    display: none;
  }

  main {
    padding: 1rem;
  }
}

@media (width < 576px) {
  .principal-container {
    display: flex;
    flex-direction: column;

    .navbar {
      /* z-index: 100;
      position: absolute;
      bottom: 0; */
      order: 2;
      width: 100vw;
      background-color: white;

      flex-direction: row;
      justify-content: space-around;

      .text-button {
        display: none;
      }
    }
  }

  .profile-container {
    h2 {
      font-size: 1rem;
    }
    h3,
    p {
      font-size: 0.8rem;
    }

    span,
    i {
      font-size: 0.8rem;
    }
  }
}
